body{
    background-color: rgb(1, 70, 47);
}
#questionSection{
    position: block;
    height: 400px;
    width: 90%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    align-self: center;
    margin-left: 5%;
    margin-top: 0px;
}

#navigateQuestions{
    position:relative ;
    height: 330px;
    width: 90%;
    border-radius: 10px;
    background-color: #5cb85c;
    text-align: center;
    padding: 10px;
    margin-left: 5%;
    margin-top: 10px 
}

#timer{
   margin-left: auto;
}
#name{
    position: inline;
}
.navbar{
    display: flex;
    width: 100%;
    padding: 5px;
    color:white;
    background-color: rgb(165, 148, 0);

}

.container{
    background-color: rgb(255, 255, 255);
    margin-top: 2px;
}
.rowcontainer{
    background-color: rgb(75, 67, 0);
}
.btn {
      margin-left:60px   ;
      margin-right: 60px;
      padding: 15px;
      border: 1px solid #000;
      width :100px
}
.row{
    text-align: center;
    width: inherit;
    margin-left: inherit;
    /* position: relative; */
    /* margin:30px ;
    margin-left:50px */
}

.question{
    position: absolute;
    width: 1340px;
    height: 55%;
    background-color: #5cb85c;
    font-size: 50px;
    color:white;
    text-align: center;
    margin: relative;
    margin-top: 2px;
    margin-left: 0px;
    align-self: center;
}

input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
}